body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

.instructions {
    font-size: 18px;
    color: darkblue;
    margin-bottom: 20px;
}

#myHeading {
    color: darkred;
    background-color: lightyellow;
    padding: 10px;
    display: none;
}

#myInput {
     padding: 10px;
     font-size: 16px;
     border: 2px solid black;
}